:root {
  --primary: rgb(214, 217, 220);
  --secondary: rgb(249, 249, 249);
}

.App {
  display: grid;
  grid-template-rows: 3.5rem minmax(80%, 100%);
  min-height: 100vh;
  min-width: 700px;
  background-color: var(--primary);
}

.lp_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.lp_logo {
  display: flex;
  gap: 1rem;
}

.menu_options {
  display: flex;
}

.button_Menu {
  margin-left: 0.5rem;
}

.utility {
  margin: 0 !important;
}

.utility button {
  border-radius: 0 !important;
}

.button_Menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  border: unset;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.button_Menu img {
  width: 1rem;
  margin-right: 0.5rem;
}

.button_saving {
  background-color: #fc9a31 !important;
  color: white !important;
}

.button_templates {
  background-color: #007bff !important;
  color: white !important;
  margin-right: 0.5rem;
}

.button_utility {
  background-color: #e1f2f9 !important;
  color: black !important;
}

.lp_builder {
  display: grid;
  grid-template-columns: minmax(60%, 90%) auto;
}

.lp_content {
  display: grid;
  grid-template-rows: repeat(auto-fit, 5rem);
  background-color: var(--secondary);
}

.lp_block {
  display: grid;
  grid-template-columns: minmax(10rem, 20rem) 5rem;
  border-left: 1px solid var(--primary);
}

.block_option {
  display: grid;
  padding: 0.2rem;
  background-color: var(--secondary);
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-template-rows: repeat(auto-fit, 5rem);
  column-gap: 0.2rem;
  row-gap: 0.2rem;
}

.block_option > button {
  height: 5rem;
}

.block_menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  cursor: pointer;
}

.block_menuButton:hover {
  background-color: #a8a8a8;
}

.block_menuButton:active {
  background-color: var(--secondary);
}
