:root {
  --primary: rgb(214, 217, 220);
  --secondary: rgb(249, 249, 249);
}

.App {
  display: grid;
  grid-template-rows: 3.5rem minmax(80%, 100%);
  min-height: 100vh;
  background-color: var(--primary);
}

.lp_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_options {
  display: flex;
}

.lp_builder {
  display: grid;
  grid-template-columns: minmax(75%, 90%) auto;
}

.lp_content {
  background-color: var(--secondary);
}

.lp_block {
  display: grid;
  grid-template-columns: minmax(10rem, 20rem) 5rem;
  border-left: 1px solid var(--primary);
}

.block_option {
  background-color: var(--secondary);
}

.block_menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  cursor: pointer;
}

.block_menuButton:hover {
  background-color: #a8a8a8;
}

.block_menuButton:active {
  background-color: var(--secondary);
}
